.smallcard-container{
    border: 2px solid black;
    width: 20vw;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.smallcard-container > img {
    width: 35px;
    margin-right: 10px;
}
