.App {
  text-align: center;
  padding-left: 38%;
  padding-top: 10px;
}

.dados-container1 {
  border: 1px solid grey;
  width: 338px;
  height: 330px;
  text-align: left;

}

.dados-container1 img{
  max-width:400px;
  max-height:226px;
  width: auto;
  height: auto;
  
  
}


.dados-container2 {
  border: 1px solid grey;
  width: 338px;
  height: 330px;
  text-align: left;

}

.dados-container2 img{
  max-width:400px;
  max-height:226px;
  width: auto;
  height: auto;
  
  
}

.dados-container3 {
  border: 1px solid grey;
  width: 338px;
  height: 330px;
  text-align: left;

}

.dados-container3 img{
  max-width:400px;
  max-height:226px;
  width: auto;
  height: auto;
  
  
}
